[Unit]
Description=Gunicorn instance for Harmony app
After=network.target
[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=
ExecStart=
Restart=always
[Install]
WantedBy=multi-user.target